<title>Supernova - About</title>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-left">About Supernova</h3>
        <div class="well">
        <p>
          Supernova is a private FFXI Server running on a customized version of the Dark Star Project.
          <br>
          <br>
          Supernova started as a way for players who had never played FFXI to be able to enjoy it. So many people are fans of the Final Fantasy franchise, but skipped over this one because it was different.  The intent was to deliver the game in a way that everyone could enjoy, whether they were a die hard fan just missing the older feel of the game, or a newcomer that is exploring it all for the first time. Things are much different on the live paid servers. The game is almost 15 years old now, and experiencing what things used to be like during "the glory days" of the game is much harder. We aim to relive that experience and as such the game is catered to gameplay as it was a few years after launch, as of around 2008.
          <br>
          <br>
          We offer fully fledged expansions of Rise of the Zilart and Chains of Promathia, with Treasures of Aht Ugran and Wings of the Goddess currently only offering jobs, skills, enemies and zones. There are also many customized features to make this server both fun and challenging. We've left most of the mob behavior the same as it existed, but with added bonuses, twists, and increased difficulty in some instances. With a large player base, and a great GM staff available and on hand, we're able to troubleshoot any problems and keep this little slice of gaming heaven a reality. Our development staff is constantly working on bug fixes, quality of life changes, and adding new and interesting content.  The best part is, Supernova is what we make of it. We are in charge of the adventure, and the only limitation is the creativity with which we can create new content for ourselves.  If you've ever wanted to relive the game, or play it for the first time, there has never been a better opportunity. It's my pleasure to invite you to this final fantasy.
          <br>
          <br>
          -Novah and the Development Team
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-left">Other Gaming</h3>
        <div class="well">
        <p>
          The Supernova Community also avidly plays many more games, which include all genres. 
          <ul>
            <li>Final Fantasy XIV</li>
            <li>Final Fantasy XV</li>
            <li>Minecraft</li>
            <li>Civilization V/VI</li>
            <li>TF2</li>
            <li>Overwatch</li>
            <li>League of Legends</li>
            <li>Counter-Strike: GO</li>
            <li>Halo 5</li>
            <li>Call of Duty</li>
            <li>Tabletop Simulator</li>
            <li>Borderlands Series</li>
            <li>Starcraft</li>
          </ul>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </p>
      </div>
    </div>
  </div>
</div>