<div class="container">
  <h3 class="text-left">About Supernova</h3>
    <div class="well">
    <p>
      Supernova is a private FFXI Server running on a customized version of the Dark Star Project.
      <br>
      <br>
      We initially took on the project because after later expansions and patches we grew unsatisfied with the player experience and wanted to set up shop back in 2007, what we consider the glory days of FFXI. 
      On this server we've enabled Rise of The Zilart, Chains of Promathia and Treasures of Aht Urgan as fully fledged expansions, with Wings of the Goddess to add in extra jobs and leveling areas.
      <br>
      <br>
      There are also many customized features to make this server both fun and challenging. We've left most of the mob behavior the same as it occured in 2007, but with some mobs we've added new twists and difficulty.
      With a large GM staff available and on hand, we're able to troubleshoot any problems and make sure the environment maintains its 2007 flair. Our development staff is constantly working on bug fixes, quality of life changes and adding new and interesting content. 
    </p>
  </div>
</div>