<title>Supernova - FAQ</title>
<div class="container">
  <h3 class="text-left">Frequently Asked Questions</h3>
    <div class="well">
        <h4><b>What is Supernova?</b></h4>
        <p>Supernova is a private Final Fantasy XI server, playable for free. It is catered and balanced for the older level 75 content which is no longer viable on the retail servers. It has been online for over four years, and is showing no signs of stopping!</p>
        <h4><b>What is the level cap?</b></h4>
        <p>The Level Cap is 75 with no intent of ever raising it. We like it old school!</p>
        <h4><b>I played on a different server, can I use my old character?</b></h4>
        <p>This is not something we can offer, we do not have access to your older characters. Everyone starts from scratch, with some bonuses to enhance progress.</p>
		<h4><b>Can I play here and on retail FFXI at the same time?</b></h4>
		<p>Yes!  We don't modify the core game files installed on your computer, you can most definitely do both! We have many players, even staff, that play on both Supernova and the retail servers!</p>
        <h4><b>What sort of bonuses does Supernova have?</b></h4>
        	<ul>
        		<li>The rate a player advances through the game is enhanced to give players a good feel for the game as they progress, without being nearly as oppressive as the original game. Players can expect to advance through the levels quickly without too much grinding. More specifically, players gain experience at a minimum of 2x the normal rate, up to 8x in certain specific limited cases. Skillups and Fame are balanced to match these speeds.
        		<li>Transportation around the game is much quicker and less tedious than previous gameplay. Character movement speed is enhanced, and players can be expected to travel to places at least once to properly explore the environment, but afterward can travel to previously accessed locations much quicker through various forms of teleportation.
        		<li>Gil is functionally infinite, the auction house is infinitely repopulated with almost all items for 2 gil and players begin with 1 million gil. We've not had anyone run out yet. We have no intention of making people farm for hours.
        		<li>Certain mob families are temporarily enhanced to give additional EXP. Which family is currently boosted changes over time, and the player gets to explore and determine which families are currently boosted. This keeps gameplay fresh and prevents requiring players from having to play at the same camps over and over.
        		<li>No exp loss is endured upon death, until level 75 at which point a meager amount of experience is lost.
        	</ul>
        <h4><b>Which expansions are included?</b></h4>
        <p>We play with the base game, as well as Rise of the Zilart, Chains of Promathia, Treasures of Aht Urghan, and Wings of the Goddess. A few snippets of some of the mini-expansions are on the horizon, but ultimately have not been properly developed for private servers. If/when they are developed, we will make them available.</p>
        <h4><b>Is there any custom content available?</b></h4>
        <p>Supernova has many customizations that make us differ from the retail servers as well as other private servers. We offer custom quests, seasonal events, enhanced drop rates, and even a centralized server hub for players to gather and organize. We have a serverwide linkshell that players automatically are given access to.  Supernova even has reoutfitted a custom abyssea zone for custom exp camps!</p>
        <h4><b>How active is the server? How many players are on Supernova? </b></h4>
        <p>Supernova has several thousand characters created, and hundreds of active players. We have anywhere from 30-150 players online at a time, so even if you are not in NA prime time, you will find players in your time zone and language to speak with.</p>
        <h4><b>Will I be able to do [x] content?</b></h4>
        <p>If the content is available, it is being tackled on a constant basis. Dynamis, Limbus, Behemoth, Fafnir, Jormungand, Absolute Virtue, Pandemonium Warden, you name it.</p>
        <h4><b>How can I help out?</b></h4>
        <p>Supernova takes donations to help with server costs. We have recently updated the hardware and connection speeds to ensure our 24/7 uptime.  To donate, please visit the following link: <a href="www.tinyurl.com/supernovadonate" class="btn btn-primary btn-xs">Donate</a>
		<br>
		<br>
        Other accommodations can be made if paypal isn't your thing.</p>
        <h4><b>What are the rules?</b></h4>
        <p>Visit the rules page!: <a href="http://supernovaffxi.wikia.com/wiki/Rules" class="btn btn-primary btn-xs">Supernova Rules</a></p>
        <h4><b>How do I get started?</b></h4>
        <p>Visit the setup page!: <a href="http://www.supernovaffxi.com/setup" class="btn btn-primary btn-xs">Setup</a></p>
        <h4><b>How can I report a problem or a bug?</b></h4>
        <p>Visit the technical support forums!: <a href="http://supernovaffxi.proboards.com/board/3/technical-help" class="btn btn-primary btn-xs">Technical Support</a></p>
        
        <h4><b>TL;DR</b></h4>
        <ul>
        	<li>Gil: Infinite, start with 1 million</li>
        	<li>Auction house: Infinite</li>
        	<li>Exp rate: 2-8x</li>
        	<li>Movement Speed: 1.5x</li>
        	<li>Skillup Rate: 4x</li>
        	<li>Fame Rate: 4x</li>
        	<li>Crafting Skillup Rate: 4x</li>
        	<li>Teleportation: Explorer moogles between cities, Outpost warps unlocked, Homepoint warps once visited, Custom commands for additional teleports</li>
        	<li>Maps: All</li>
        </ul>  
    </div>
  </div>
</div>