<title>Supernova - FAQ</title>
<div class="container">
  <h3 class="text-left">Frequently Asked Questions</h3>
    <div class="well">
        <h4><b>What's the level cap?</b></h4>
        <p>Level Cap is 75 with no intent of ever raising it. We like it old school.</p>
        <h4><b>Can I import my retail Character?</b></h4>
        <p>We do not offer character imports. Everyone starts from scratch.</p>
        <h4><b>Is the XP rate enhanced?</b></h4>
        <p>Yes, 2x the normal rate.</p>
        <h4><b>If that's enhanced what about Fame? Skill up? Movemnt speed?</b></h4>
        <p>
        	<ul>
        		<li>Fame has been raised to 4x rate.</li>
        		<li>Skillup has been raised to 4x rate.</li>
        		<li>Movement speed has been raised to 1.5x rate.</li>
        	</ul>
        </p>
        <h4><b>What about the economy? Auction House?</b></h4>
        <p>All players start with 1m gil, and the auction house is periodically restocked with all items for 2 gil each. Some items are intentonally not stocked.</p>
        <h4><b>What expansions is the server running?</b></h4>
        <p>We support all expansions up to WOTG, with some limitations.</p>
        <h4><b>Custom Content?</b></h4>
        <p>We offer custom quests, seasonal events, altered enemies, and altered drop tables to allow for some room for quality of life</p>
        <h4><b>Dualboxing?</b></h4>
        <p>It is allowed, with strict rules to adhere to. We encourge players to instead party up and play one character at a time.</p>    
    </div>
  </div>
</div>