<body class="body-home">
  <div class="container">
    <h3 class="text-left">Server Status</h3>
      <div class="well">
        Current Server Time (EST): <%= @current_time %>
        <br>
        Server Availability: Online. 
      </div>
  </div>
  <div class="container">
    <h3 class="text-left">Latest News</h3>
      <div class="well">
        News Goes Here
      </div>
  </div>
  <div class="container">
    <h3 class="text-left">Latest Patch Notes</h3>
      <div class="well">
        Patch Notes Go Here. 
      </div>
  </div>
</body>