<div class="container">
  <div class="text-center">
    <h2>Something has gone horribly horribly wrong. We've rung up Cid.</h2>
    </div class="container">
      <%= image_tag("/assets/crystal.png", :alt => "shatterd crystal", :class => "imgcenter") %>
    <div>
      <br>
    <div class="text-center">
      <h3><%= link_to "Return to Home Point?", root_path %></h3>
    </div>
      <br>
      <br>
      <br>
  </div>
</div>