/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oxygen', sans-serif;
}

.home-banner {
  display: block;
  margin: 0 auto;
}

.navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ffffd+0,4d85c1+35,272c38+75 */
  background: #9ffffd; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #9ffffd 0%, #4d85c1 35%, #272c38 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #9ffffd 0%,#4d85c1 35%,#272c38 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #9ffffd 0%,#4d85c1 35%,#272c38 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ffffd', endColorstr='#272c38',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navbar {
  border: none;
}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

// Nav Styles
.navbar {
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

.well-code{
  background: white;
}

.alert {
  @extend .alert-info;
}

.imgcenter {
  display: block;
  margin: auto;
}